span {{ 'COMMON.TIME_TRACKING.ESTIMATE' | translate }}:
span(ng-switch="$ctrl.editMode")
    input(type="number" ng-switch-when="true" ng-model="$ctrl.estimate")
    span(ng-switch-default) {{ $ctrl.estimate }} Pts.
a(href="" ng-click="$ctrl.action()" ng-show="$ctrl.has_edit_perm")
    tg-svg(svg-icon="{{ $ctrl.editMode ? 'icon-save' : 'icon-edit'}}")
