.div(style="display:contents", ng-hide="hide")
    .tt-date
        input(
            type='date'
            ng-model="timeTracking.dateEdit"
        )
    .tt-total-time
        input(
            type='number'
            placeholder="{{ 'COMMON.TIME_TRACKING.POINT_PLACEHOLDER' | translate }}"
            ng-model="timeTracking.pts"
        )
    .tt-total-time(ng-if="showTodo")
        input(
            type='number'
            placeholder="{{ 'COMMON.TIME_TRACKING.TODO_PLACEHOLDER' | translate }}"
            ng-model="timeTracking.todo"
        )
    .tt-comment
        input(
            type='text'
            ng-model="timeTracking.comment"
            placeholder="{{ 'COMMON.TIME_TRACKING.COMMENT_PLACEHOLDER' | translate }}"
        )
    .task-settings
        a.save-task(
            href=""
            title="{{'COMMON.SAVE' | translate}}"
        )
            tg-svg(svg-icon="icon-save")
        a.cancel-edit(
            href=""
            title="{{'COMMON.CANCEL' | translate}}"
        )
            tg-svg(svg-icon="icon-cancel")

    .assigned-to(tg-related-task-assigned-to-inline-edition='timeTracking')
        .time-tracking-assignedto(title="{{'COMMON.FIELDS.ASSIGNED_TO' | translate}}")
            figure.avatar
            tg-svg(svg-icon="icon-arrow-down")
.div.tt-loader(style="display:contents;text-align:center", ng-hide="!hide")
    .div(style="width:100%;height:2rem")
