.tt-date
    span <%- timeTracking.dateView %>
.tt-total-time
    span <%- timeTracking.pts %> {{ 'COMMON.TIME_TRACKING.POINT_PLACEHOLDER' | translate }}
.tt-total-time.todo(ng-if="showTodo")
    span {{ 'COMMON.TIME_TRACKING.TODO_PLACEHOLDER' | translate }}: <%- timeTracking.todo %>
.tt-comment
    span <%- timeTracking.comment %>
.task-settings
    <% if(perms.modify_task) { %>
    a.edit-time-tracking(
        href=""
        title="{{'COMMON.EDIT' | translate}}"
    )
        tg-svg(svg-icon="icon-edit")
    <% } %>
    <% if(perms.delete_task) { %>
    a.delete-time-tracking(
        title="{{'COMMON.DELETE' | translate}}"
        href=""
    )
        tg-svg(svg-icon="icon-trash")
    <% } %>

.assigned-to(
    tg-time-tracking-assigned-to-inline-edition="timeTracking"
)
    .time-tracking-assignedto(
        title="{{'COMMON.FIELDS.ASSIGNED_TO' | translate}}"
        class="<% if(perms.modify_task) { %>editable<% } %>"
    )
        figure.avatar
        <% if(perms.modify_task) { %>
        tg-svg(svg-icon="icon-arrow-down")
        <% } %>
