section.time-tracking
    .time-tracking-header(ng-show="ctrl.has_perm")
        span.time-tracking-title(translate="COMMON.TIME_TRACKING.TITLE")
        div(ng-if="ctrl.type !== 'userstory'", tg-time-tracking-create-button)
    .time-trackings-body
        .row.single-time-tracking(
            ng-repeat="timeTracking in ctrl.timeTrackings"
            tg-time-tracking
            ng-model="timeTracking"
            ng-show="ctrl.has_perm"
        )
        div(tg-time-tracking-create-form ng-show="ctrl.has_perm")
        div.footer
          tg-time-tracking-estimate(ng-if="ctrl.showEstimate", type="ctrl.type", object-id="ctrl.objectId" project="ctrl.project")
          tg-time-tracking-todo(ng-if="ctrl.type == 'userstory'", type="ctrl.type", object-id="ctrl.objectId" ng-show="ctrl.has_perm", project="ctrl.project")
          tg-time-tracking-total(total="ctrl.total" ng-show="ctrl.has_perm")
