.row.single-time-tracking.related-time-tracking-form.active(ng-if="openNewTimeTracking")
    .div(style="display:contents", ng-hide="newTimeTracking.hide")
        .tt-date#tt-form-date
            input(type='date', ng-model="newTimeTracking.date")

        .tt-total-time#tt-form-pts
            input(type='number', tg-autofocus, placeholder="{{ 'COMMON.TIME_TRACKING.POINT_PLACEHOLDER' | translate }}", ng-model="newTimeTracking.pts")

        .tt-total-time#tt-form-todo(ng-if="$parent.ctrl.type == 'task'")
            input(type='number', tg-autofocus, placeholder="{{ 'COMMON.TIME_TRACKING.TODO_PLACEHOLDER' | translate }}", ng-model="newTimeTracking.todo")

        .tt-comment#tt-form-comment
            input(type='text', ng-model="newTimeTracking.comment", placeholder="{{ 'COMMON.TIME_TRACKING.COMMENT_PLACEHOLDER' | translate }}")

        .task-settings
            a.save-task(ng-click="save()" title="{{'COMMON.SAVE' | translate}}")
                tg-svg(svg-icon="icon-save")

        .assigned-to#tt-form-asign(tg-time-tracking-assigned-to-inline-edition='newTimeTracking', not-auto-save='true')
            .time-tracking-assignedto(title="{{'COMMON.FIELDS.ASSIGNED_TO' | translate}}")
                figure.avatar
                tg-svg(svg-icon="icon-arrow-down")
    .div.tt-loader(style="display:contents;text-align:center", ng-hide="!newTimeTracking.hide")
        .div(style="width:100%;height:2rem")
