div
    b {{ 'COMMON.TIME_TRACKING.TODO_PLACEHOLDER' | translate }}:
    table
        tr(ng-repeat="todo in $ctrl.todos.roles")
            th {{ $ctrl.getRoleName(todo[0]) }}
            td {{ todo[1] }}
        tr
            th {{ 'COMMON.TIME_TRACKING.TODO_TOTAL' | translate }}
            td {{ $ctrl.todos.total }}
