tg-lightbox-close

form
    h2.title
    p
        span.subtitle
        span.message

    div(style="margin-bottom:2rem")
        input(type="number" name="pts" placeholder="Nb points" ng-model="pts")
        input(type="checkbox" name="create-tasks" checked)
        label(for="create-tasks") {{'ISSUE.LIGHTBOX.CREATE_TASKS' | translate}}

    div.options
        a.button-green(
            ng-show="pts > 0"
            href=""
            title="{{'COMMON.ACCEPT' | translate}}"
        )
            span(translate="COMMON.ACCEPT")
        a.button-red(href="", title="{{'COMMON.CANCEL' | translate}}")
            span(translate="COMMON.CANCEL")
