doctype html
html(lang="en", ng-attr-dir="{{ isRTL ? 'rtl' : 'ltr' }}")
    head
        meta(charset="utf-8")
        meta(http-equiv="content-type", content="text/html; charset=utf-8")
        meta(name="fragment", content="!")

        // Main meta
        title Taiga
        meta(name="description", content="Taiga is a project management platform for startups and agile developers & designers who want a simple, beautiful tool that makes work truly enjoyable.")
        meta(name="keywords", content="agile, scrum, taiga, management, project, developer, designer, user experience")

        //-meta(name="viewport", content="width=device-width, user-scalable=no")
        link(rel="stylesheet", href="/#{v}/styles/theme-taiga.css")
        link(rel="icon", type="image/png", href="/#{v}/images/favicon.png")

        //- PRERENDER SERVICE: This is to know when the page is completely loaded.
        script(type='text/javascript').
            window.prerenderReady = false;

    body(tg-main, ng-class="{'rtl': isRTL}")
        div(tg-navigation-bar, ng-if="!errorHandling.showingError")
        div(ng-if="!errorHandling.showingError")
            div.master(ng-view)

        div(ng-if="errorHandling.notfound", ng-include="'error/not-found.html'")
        div(ng-if="errorHandling.error", ng-include="'error/error.html'")
        div(ng-if="errorHandling.permissionDenied", ng-include="'error/permission-denied.html'")
        div(ng-if="errorHandling.blocked", ng-include="'projects/project/blocked-project.html'")

        div.lightbox.lightbox-generic-ask
            include partials/includes/modules/lightbox-generic-ask
        div.lightbox.lightbox-ask-choice
            include partials/includes/modules/lightbox-ask-choice
        div.lightbox.lightbox-generic-success
            include partials/includes/modules/lightbox-generic-success
        div.lightbox.lightbox-generic-error
            include partials/includes/modules/lightbox-generic-error
        div.lightbox.lightbox-generic-loading
            include partials/includes/modules/lightbox-generic-loading
        div.lightbox.lightbox-issue-to-us
            include partials/includes/modules/lightbox-issue-to-us

        include partials/includes/modules/loader

        include partials/includes/components/notification-message

        div(tg-joy-ride)
        div(tg-live-announcement)
        div(tg-terms-announcement)

        script(src="/#{v}/js/libs.js")
        script(src="/#{v}/js/templates.js")
        script(src="/#{v}/js/app-loader.js")
        include svg/sprite.svg
        include svg/editor.svg
