.diff-status-wrapper
    span.key Time Tracking
    span.diff(ng-if="vm.diff[0]") {{vm.diff[0]}}:&nbsp;
    span.diff(ng-if="vm.diff[1]") {{vm.diff[1]}}
    tg-svg(
        ng-if="vm.diff[2]"
        svg-icon="icon-arrow-right"
    )
    span.diff(ng-if="vm.diff[2]") {{vm.diff[2]}}
