section.profile-punched-card
    div(ng-if="vm.punchedCard == []")
        div.spin
            img(src="/#{v}/svg/spinner-circle.svg", alt="Loading...")
    div.punched-card
        input(
            type='date'
            ng-model="vm.date"
            ng-change="vm.getPunchedCard()"
        )
        table
            tr
                th {{ 'COMMON.PICKERDATE.WEEK_DAYS.MON' | translate }}
                th {{ 'COMMON.PICKERDATE.WEEK_DAYS.TUE' | translate }}
                th {{ 'COMMON.PICKERDATE.WEEK_DAYS.WED' | translate }}
                th {{ 'COMMON.PICKERDATE.WEEK_DAYS.THU' | translate }}
                th {{ 'COMMON.PICKERDATE.WEEK_DAYS.FRI' | translate }}
                th {{ 'COMMON.PICKERDATE.WEEK_DAYS.SAT' | translate }}
                th {{ 'COMMON.PICKERDATE.WEEK_DAYS.SUN' | translate }}
            tr(ng-repeat="row in vm.punchedCard")
                td(style="background: rgba(34, 139, 34, {{ cell.bgfactor }}); cursor:pointer" ng-repeat="cell in row" ng-click="vm.getDayEntries(cell.day)")
                    span.day(ng-if="cell.day") {{ cell.day }}
                    span.pts(ng-if="cell.day") {{ cell.pts > 0 ? cell.pts : '&nbsp;' }}
    div.punched-car-details(style="padding:1rem")
        div(ng-if="vm.detailsDate.length > 0" style="padding:1rem")
            span Date : {{ vm.detailsDate }}
        div.list-itemtype-ticket(ng-repeat="detail in vm.details")
            a.list-itemtype-avatar(href="/project/{{ detail.slug }}" tg-nav="project:project=detail.slug")
                img(ng-init="logo = vm.getProjectLogo(detail)" src="{{ logo.src }}" style="background: {{ logo.color }}" title="{{ detail.slug }}")
            div.list-itemtype-ticket-data
                p
                    span.ticket-project {{ detail.project }}
                    span.ticket-type {{ detail.type }}
                    span.ticket-status(ng-style="::{'color': detail.status_color}") {{:: detail.status }}
                h2
                    span.ticket-id &num;{{ detail.ref }}&nbsp;
                    a(href="/project/{{ detail.slug }}/{{ detail.type }}/{{ detail.ref }}" title="{{ detail.title }}" ng-bind-html="detail.title | emojify")
                p(ng-if="detail.user_story")
                    span.ticket-type US:
                    span {{ detail.user_story }}
            div.list-itemtype-track
                span {{ detail.pts }} pts.
    div(style="padding:1rem" ng-if="vm.details.length == 0")
        div.list-itemtype-ticket(ng-repeat="prj in vm.project_stats")
            a.list-itemtype-avatar(href="/project/{{ prj.slug }}" tg-nav="project:project=prj.slug")
                img(ng-init="logo = vm.getProjectLogo(prj)" src="{{ logo.src }}" style="background: {{ logo.color }}" title="{{ prj.slug }}")
            div.list-itemtype-ticket-data
                p
                    span.ticket-type Project
                h2
                    a(href="/project/{{ prj.slug }}" title="{{ prj.name }}" ng-bind-html="prj.name | emojify")
            div.list-itemtype-track
                span {{ prj.sum }} pts.
    div(style="padding:1rem" ng-if="vm.details.length == 0")
        div.list-itemtype-ticket(ng-repeat="us in vm.us_stats")
            a.list-itemtype-avatar(href="/project/{{ us.slug }}" tg-nav="project:project=us.slug")
                img(ng-init="logo = vm.getProjectLogo(us)" src="{{ logo.src }}" style="background: {{ logo.color }}" title="{{ us.slug }}")
            div.list-itemtype-ticket-data
                p
                    span.ticket-project {{ us.project }}
                    span.ticket-type User Story
                    span.ticket-status(ng-style="::{'color': us.status_color}") {{:: us.status }}
                h2
                    span.ticket-id &num;{{ detail.ref }}&nbsp;
                    a(href="/project/{{ us.slug }}/us/{{ us.user_story_ref }}" title="{{ us.user_story }}" ng-bind-html="us.user_story | emojify")
            div.list-itemtype-track
                span {{ us.sum }} pts.
