ul.card-tasks(style="min-height:1rem")
    li.card-task(tg-repeat="task in vm.item.getIn(['model', 'tasks'])" style="position:relative")
        a(
            href="#"
            tg-bind-scope
            tg-nav="project-tasks-detail:project=vm.project.slug,ref=task.get('ref')",
            ng-class="{'closed-task': task.get('is_closed'), 'blocked-task': task.get('is_blocked')}"
            ng-bind-html="'#'+task.get('ref')+' '+task.get('subject') | emojify"
        )
        tg-svg(svg-icon="icon-drag" style="position:absolute;right:0;top:8px;fill:gray")
